<% provide(:tab, "courses") %>

<%= render "shared/loading" %>
<div class="scroll-container scrollable">
	<% if @school.present? %>
		<% provide(:title, "Courses at #{@school.name}".html_safe) %>
	  <h1>Courses at <%= @school.name %></h1>
	<% else %>
		<% provide(:title, 'Search Courses') %>
	  <h1>Search Courses</h1>
	<% end %>

	<%= render 'courses/search_form' %>

	<div class="results">
		<%= render(partial: 'courses/results') %>
	</div>
</div>