<%= render "shared/loading" %>
<div class="scroll-container scrollable">
<% if @user.present? %>
	<% provide(:title, 'My Courses') %>
  <h1>My Courses</h1>
<% elsif @school.present? %>
	<% provide(:title, "Courses at #{@school.name}".html_safe) %>
	<% breadcrumbs({ 'Home'=>root_url, 'Schools'=>schools_path, @school.name=>school_path(@school), 'Courses'=>'' }) %>
  <h1>Courses at <%= @school.name %></h1>
<% else %>
	<% provide(:title, 'Search Courses') %>
	<% breadcrumbs({ 'Home'=>root_url, 'Courses'=>"" }) %>
  <h1>Search Courses</h1>
<% end %>

<%= render 'courses/search_form' %>

<div class="results">
	<%= render(partial: 'courses/results') %>
</div>
</div>