<label>Days:</label>
<div class="days-container scrollable">
	<table>
		<tr>
			<td colspan="2"><div class="check-all">Check All</div></td>
		</tr>
		<tr>
			<td colspan="2"><div class="uncheck-all">Uncheck All</div></td>
		</tr>
		<% Date::DAYNAMES.each do |day| %>
		<tr>
			<td><%= check_box_tag 'days[]', day.downcase, params[:days].present? && params[:days].include?(day.downcase) %></td><td><label><%= day %></label></td>
		</tr>
		<% end %>
	</table>
</div>