<div class="shortcuts mobile">
	<a href="#filters">
		<div class="half">
			<i class="glyphicon glyphicon-search"></i>Filters
		</div>
	</a>
	<a href="#results">
		<div class="half">
			<i class="glyphicon glyphicon-list"></i>Results
		</div>
	</a>
</div>
<div class="shortcuts-alert">
	Your results have been updated. Click the shortcut button below to jump to them.
</div>