<div class="time-container">
	<label>Time range:</label>
	<%= select_tag "start_time", options_for_select([['Start Time', '']] + times, params[:start_time]) %>
	<div class="to"></div>
	<%= select_tag "end_time", options_for_select([['End Time', '']] + times, params[:end_time]) %>
</div>