<% breadcrumbs({ 'Home'=>root_url, 'Internal Server Error'=>'' }) %>
<h1>Internal Server Error</h1>
<h2>500</h2>
<p>Oops! There was an error with the action you were attempting to do. This error has been logged and will be addressed by our admins.</p>
