<% breadcrumbs({ 'Home'=>root_url, 'Internal Server Error'=>'' }) %>
<h1><span>Internal Server Error</span></h1>
<div style="font-weight:bold; text-align: center; font-size: 2em;">500</div>
<p>Oops! There was an error with the action you were attempting to do. This error has been logged and will be addressed by our admins.</p>
