<%= render 'shared/mobile_shortcuts' %>

<a name="filters" class="anchor"></a>
<% breadcrumbs({ 'Home'=>root_url, 'Schools'=>'' }) %>
<% provide(:title, 'Find Schools') %>
<% provide(:meta, 'Search for two- and four-year colleges and universities by name, distance, state or map.') %>
<h1><span>Search Schools</span></h1>

<div class="col-sm-3">
  <%= render 'search_form' %>
</div>
<% if mobile? %>
  <hr>
  <a name="results" class="anchor"></a>
  <h1>Results</h1>
<% end %>
<div class="col-sm-9 results">
  <%= render 'results' %>
</div>