<tr>
	<td><%= link_to course.name.html_safe, school_course_path(course.school, course) %></td>
	<td><%= course.number.present? ? "#{course.department} #{course.number}" : course.department %></td>
</tr>