<div class="location-form">
	<label>Specify a location:</label>
	<%= text_field_tag :location, params[:location], placeholder: '12345, Chicago IL, etc...' %>
	<button class="locate">Current Location</button>
</div>