<div class="location-form">
	<label>Specify a location:</label>
	<div class="input-group">
    <%= text_field_tag :location, session[:location_name], class: 'form-control', placeholder: '12345, Chicago IL, etc...' %>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">My Location</button>
    </span>
  </div>
</div>