<% if @sessions.nil? %>
	<% if course.school == school %>
	<tr data-course-id="<%= course.id %>">
	  <td><strong><%= course.name %></strong></td>
	</tr>
	<% end %>
<% else %>
	<% if session.course.school == school %>
		<%= render 'courses/session', session: session %>
	<% end %>
<% end %>