<% provide(:title, "Edit Course") %>
<% breadcrumbs({ 'Home'=>root_url, 'Account'=>user_path(current_user), @school.name=>edit_school_path(@school), 'Courses'=>school_edit_courses_path(@school), @course.name=>'' }) %>

<h1><span>Edit Course</span></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for([@school, @course]) do |f| %>
      <%= render "form", f: f %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>