<% provide :title, "About" %>
<% provide(:meta, 'Learn more about Classhunters.') %>
<% breadcrumbs({ 'Home'=>root_url, 'About'=>'' }) %>
<div class="container-fluid content">
	<div class="container about">
		<div class="breadcrumbs">
			<%= yield(:crumbs) %>
		</div>
		<h1>About Us</h1>
		<p>Classhunters' goal is to make looking for classes near you much easier.</p>

		<p>Currently, the only way to find classes being offered at nearby schools is to:</p>
		<ol>
			<li>Locate all nearby colleges and universities</li>
			<li>Visit each individual school's website</li>
			<li>Find course catalog</li>
			<li>Find class names and descriptions</li>
		</ol>
		<p>There are many problems with the current method to finding a class near you:</p>
		<ul>
			<li>Each school's website layout is different</li>
			<li>Each school's course catalog is different</li>
			<li>Each search must be done individually for each school</li>
		</ul>
		<p>
			Classhunters seeks to improve this tedious process by allowing you to search all
			local class offerings in a simple to understand manner. No more confusing websites or massive
			course catalogs.
		</p>
	</div>
</div>