<% provide :title, "Contact" %>
<% provide(:meta, 'Contact Classhunters') %>
<% breadcrumbs({ 'Home'=>root_url, 'Contact'=>'' }) %>
<div class="container-fluid content">
	<div class="container contact">
		<%= yield(:crumbs) %>
		<h1><span>Contact Us</span></h1>
		<%= render 'shared/flash' %>
		<%= render 'contacts/form', contact: @contact unless flash.any? %>
	</div>
</div>