<% provide :title, "Privacy Policy" %>
<% provide(:meta, 'Privacy Policy') %>
<% breadcrumbs({ 'Home'=>root_url, 'Privacy Policy'=>'' }) %>
<div class="container-fluid content">
	<div class="container">
		<%= yield(:crumbs) %>
		<h1>Privacy Policy</h1>
<p>Classhunters is committed to ensuring that your privacy is protected and we appreciate your trust that we will do so carefully and sensibly. This notice describes our privacy policy. By visiting Classhunters.com, you are accepting the practices described in this Privacy Notice.</p>
	<p>Classhunters may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are apprised of any changes.</p>
									
	<p class="faqquestion"><strong>What we collect</strong><br>
	We may collect the following information, without limitation:</p>
	<ul>
		<li>contact information including email addresses</li>
		<li>demographic information such as addresses and preferences</li>
		<li>physical addresses entered</li>
	</ul>

	<p class="faqquestion"><strong>What we do with the information we gather</strong><br>
	We require this information to understand your needs and provide you with better service, and in particular, for the following reasons, without limitation:</p>
	<ul>
		<li>We may use the information to improve our products and services</li>
		<li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided</li>
		<li>From time to time, we may also use your information to contact you for market research purposes</li>
		<li>We may use the information to customize the website according to your interests</li>
	</ul>
						
	<p class="faqquestion"><strong>Security</strong><br>
		We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p>

	<p>How we use cookies:<br>
	Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences.</p>

	<p>We use traffic log cookies to identify which pages are being used. This helps us analyze data about webpage traffic and improve our website in order to tailor it to customer needs. At this time, we only use this information for statistical analysis purposes and then the data is removed from the system.</p>
	<p>Overall, cookies help us provide you with a better website by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us.</p>
	<p>You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the Classhunters website.</p>
	<p class="faqquestion"><strong>Links to other websites</strong><br>
	Our website may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other separate and unaffiliated website. Therefore, we cannot be responsible for the protection and privacy of any information which you provide while visiting such sites and such sites are not governed by this privacy statement. You should exercise caution and look at the privacy statement applicable to the website in question.</p>
	</div>
	</div>