<style>
	td, th {
		padding: 5px 10px;
		border: 1px solid black;
	}
</style>

<div class="content">
	<div class="container">
		<table>
			<tr>
				<% @results[0].keys.each do |header| %>
					<th><%= header %></th>
				<% end %>
			</tr>
			<% @results.each do |object| %>
				<tr>
					<% object.keys.each do |key| %>
						<td><%= object[key] %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>