.contact-form {
  display: block;
  text-align: left;
  form {
  	width: 100%;
    max-width: 750;
  }
  h1 {
    margin: 0px auto 25px auto;
    display: block;
    line-height: normal;
    background: image-url("header-background.jpg");
    background-position: center;
    background-repeat: repeat-x;
    text-align: center;
    font-size: 3em;
    span {
      background: #FFFCFA;
      padding: 0px 15px;
    }
  }
  input[type=text] {
  	height: 44px;
  }
  label {
    color: #101010;
    text-shadow: none;
  }
  hr {
    margin: 10px 15px 15px 15px;
    border: 1px solid rgba(255,85,0,.35);
  }
  textarea {
  	height: 210px;
  	width: 100%;
  	border-radius: 3px;
  	border: 1px solid #CCCCCC;
  }
  p {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 768px) {
  .home-contact {
    form {
      width: 90%;
    }
    h1 {
      padding: 0px;
    }
    h2 {
      padding: 0px;
    }
  }
}