.courses-container {
	border: 1px solid #AAAAAA;
	border-top: none;
	padding: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.import {
	form {
		max-width: none;
		margin: 0px;
		label {
			text-align: left;
		}
		select {
			margin: 0px 0px 20px 0px;
			display: block;
			padding: 10px;
		}
		input[type=file] {
			margin: 10px auto;
			border: 1px solid black;
			padding: 10px;
		}
	}
}

.course {
	& > table {
		margin: 10px 0px;
		width: 100%;
		tr {
			td, th{
				padding: 5px 10px;
			}
			th {
				background-color: rgba(0,0,0,.075);
			}
			&:nth-child(odd) {
				background-color: rgba(0,0,0,.05);
			}
			&:nth-child(even) {
				background-color: transparent;
			}
		}
	}
}

form#semester {
	select {
		margin: 10px auto;
		display: block;
		padding: 5px;
	}
}

.empty {
  font-size: 1.2em;
  letter-spacing: 0px;
  padding: 10px 0px;
  text-align: center;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  background-color: rgba(0,0,0,.075);
  margin: 25px 0px;
  border-radius: 5px;
}

form.course_search {
	margin: 25px auto;
	max-width: 400px;
	input[type=submit]  {
		font-size: 1.1em;
	}
}

form.search_form {
	width: 100%;
	max-width: none;
	input[type=submit] {
		width: 100%;
		padding: 9px 0px 9px 0px;
		font-size: 1.25em;
		margin: 0px;
		border: none;
	}
	.expand-container {
		width: 100%;
		background-color: white;
		border: 1px solid #AAAAAA;
		padding: 0px;
		border-radius: 5px;
		margin: 10px 0px 0px 0px;
		strong {
			font-size: 1.5em;
			text-align: center;
			display: block;
			margin: 5px 5px 0px 5px;
			background: image-url('header-background.jpg');
			background-position: center;
			background-repeat: repeat-x;
			span {
				background-color: white;
				padding: 0px 5px;
			}
		}
		.sort {
			padding: 0px;
			ul {
				list-style-type: none;
				padding: 0px;
				li {
					display: inline-block;
					width: 50%;
					text-align: center;
					font-size: 14px;
					color: black;
					background: #ffffff;
					border: 1px solid #aaaaaa;
					text-shadow: none;
					border-radius: 5px;
					font-family: 'Oswald';
					letter-spacing: 1px;
					padding: 0px;
					&:hover {
						background: #e2e2e2;
					}
					&:active {
						background: #e2e2e2;
					}
					&.active {
						padding: 10px 0px;
						background-color: #e2e2e2;
						font-weight: bold;
						box-shadow: inset 0px 0px 6px rgba(0,0,0,.45);
					}
					a {
						display: block;
						padding: 10px 0px;
						color: black;
						&:hover {
							text-decoration: none;
							color: black;
						}
					}
					&:nth-child(1) {
						border-radius: 5px 0px 0px 5px;
						border-right: none;
					}
					&:nth-child(2) {
						border-radius: 0px 5px 5px 0px;
						border-bottom: 1px solid #aaaaaa;
					}
				}
			}
		}
		hr {
			margin: 15px 0px 5px 0px;
		}
		ul {
			padding: 0px;
			margin: 0px;
			list-style-type: none;
			li {
				border-bottom: 1px solid #aaaaaa;
				padding: 10px 10px;
				background: linear-gradient(#ffffff, #eeeeee);
				&:first-child {
					border-radius: 5px 5px 0px 0px;
				}
				&:last-child {
					border-bottom: none;
					border-radius: 0px 0px 5px 5px;
				}
				label {
					margin: 0px 0px 5px 0px;
				}
			}
		}
		input[type=text], input[type=search] {
			border-radius: 0px;
			border: 1px solid #AAAAAA;
			border-radius: 5px;
			padding: 10px;
		}
		.days-container, .department-container {
			border: 1px solid #AAAAAA;
			border-radius: 5px;
			background-color: white;
			max-height: 150px;
			overflow-y: auto;
			table {
				width: 100%;
				margin: 0px;
				padding: 0px;
				tr {
					cursor: pointer;
					.check-all, .uncheck-all {
						padding: 5px 10px;
						text-align: left;
						width: 100%;
						height: 100%;
						display: block;
						color: blue;
						cursor: pointer;
					}
					&:nth-child(even) {
						background-color: #EEEEEE;
					}
					td {
						input {
							cursor: pointer;
						}
						label {
							cursor: pointer;
						}
						&:first-child {
							text-align: center;
							width: 32px;
						}
					}
					&:hover {
						background-color: #CCCCCC;
					}
				}
			}
			label {
				display: inline-block;
				text-align: left;
				margin: 5px 0px;
			}
			input {
				display: inline-block;
				height: 16px;
				width: 16px;
				vertical-align: bottom;
				margin: 0px 0px 2px 0px;
			}
		}
		select {
			background-color: white;
			padding: 10px;
			width: 100%;
			cursor: pointer;
			-webkit-border-radius: 5px;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) inset;
			font-family: 'Oswald', sans-serif;
		}
		input[type=submit]  {
			font-size: 1.1em;
		}
		.to {
		  position: relative;
		  text-align: center;
		  color: #222222;
			text-transform: uppercase;
			width: 100%;
			text-align: center;
			font-weight: 900;
			margin: 5px 0px;
			font-family: 'Oswald', sans-serif;
		}
		.location-form {
			input {
				border: 1px solid #AAAAAA;
				padding: 10px;
				height: 43px;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}
			button {
				height: 43px;
				padding: 0px 13px;
				font-size: 14px;
				color: black;
				background-color: #f2f2f2;
				border: 1px solid #aaaaaa;
				border-left: none;
				text-shadow: none;
				font-weight: bold;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				&:hover {
					background-color: #cccccc;
				}
				&:active {
					background-color: #FF5500;
				}
			}
		}
	}
}
.loading {
	position: fixed; 
	display: none; 
	top: calc(50% - 78px); 
	left: calc(50% - 67px); 
	text-align: center; 
	font-weight: bold; 
	background-color: white; 
	border: 2px solid #e0e0e0; 
	padding: 15px; 
	z-index: 999999;
	img {
		width: 100px;
		height: 100px;
		margin-bottom: 5px;
	}
}
.results {
	.alert {
		margin-top: 0px;
	}
}
.results-count {
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	font-size: 1.25em;
	text-align: center;
}
.course-search {
	border: none;
}
ul.search-school {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  list-style-type: none;
  color: black;
  .truncate {
  	width: 75%;
  	overflow: hidden;
  	display: inline-block;
  	white-space: nowrap;
  	text-overflow: ellipsis;
  	vertical-align: middle;
  }
  .info {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    //text-shadow: 1px 1px rgba(0,0,0,.75);
    background: #f7f7f7;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    &:hover {
      background: linear-gradient(#dddddd, #cccccc);
    }
  }
  .collapse {
  	display: none;
  	border-left: 1px solid #aaaaaa;
  	border-right: 1px solid #aaaaaa;
  	border-bottom: 1px solid #aaaaaa;
  	border-radius: 0px 0px 5px 5px;
  	table tr:last-child td {
  		border-radius: 0px 0px 5px 5px;
  	}
  }
  li {
    padding: 0px;
    ul.search-courses {
      border-top: 1px solid #AA0000;
      background-color: white;
      margin: 0px;
      padding: 0px;
			overflow-x: hidden;
      li {
        list-style-type: none;
        padding: 10px;
      	padding-left: 20px;
      	color: black;
        &:nth-child(even) {
          background-color: #F2f2f2;
        }
        &:nth-child(odd) {
          background-color: #ffffff;
        }
      }
    }
  }
}
table.search-courses {
	table-layout: fixed;
	width: 100%;
	tr {
		width: 100%;
		td, th{
			padding: 5px 10px;
			margin: 0px;
		}
		td, th {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			height: 100%;
		}
	}
	thead tr {
		background-color: #f2f2f2;
		color: black;
		border-bottom: 1px solid #aaaaaa;
		th {
			margin-right: 0px;
		}
	}
	tbody {
		overflow-x: hidden;
		tr {
			cursor: pointer;
			&:nth-child(even) {
				background-color: #F2F2F2;
				td.online span {
					background-color: #F2F2F2;
				}
			}
			&:nth-child(odd) {
				background-color: #FFFFFF;
				td.online span {
					background-color: #FFFFFF;
				}
			}
			&:hover {
				background-color: #CCCCCC;
				td.online span {
					background-color: #CCCCCC;
				}
			}
		}
		tr.inspect {
			background-color: #f2f2f2;
			border-top: 2px solid #CCCCCC;
			border-bottom: 2px solid #CCCCCC;
			cursor: initial;
			& > td {
				padding: 8px 15px;
				width: 100%;
				cursor: initial;
			}
			table {
				width: 100%;
				cursor: initial;
				tr {
					background-color: transparent;
					display: table-row;
					cursor: initial;
					td {
						display: table-cell;
						white-space: normal;
						vertical-align: text-top;
						width: auto;
						padding: 2px 10px;
						cursor: initial;
						&:nth-child(2) {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

table.search-sessions {
	tr {
		td, th {
			&:nth-child(1) {
				width: 55%;
			}
			&:nth-child(2) {
				width: 15%;
				padding-left: 0px;
				padding-right: 10px;
			}
			&:nth-child(3) {
				width: 30%;
			}
			&.online {
				background: transparent image-url('strikeout.png') 0 50% repeat-x;
				text-align: center;
				span {
					padding: 0px 10px;
				}
			}
		}
	}
}

table.school-courses {
	border-top: none;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	border-collapse: separate;
	thead tr {
		background-color: #eaeaea;
		border-bottom: 1px solid #AAAAFF;
		th {
			&:first-child {
				border-radius: 5px 0px 0px 0px;
			}
			&:last-child {
				border-radius: 0px 5px 0px 0px;
			}
		}
		th a {
			color: black;
			display: inline-block;
		}
		th:nth-child(1) {
			width: 95px;
			letter-spacing: -1px;
		}
	}
	tbody tr {
		td, th{
			padding: 5px 10px;
		}
		td:nth-child(1) {
			width: 95px;
		}
		td.icon {
			width: 50px;
			a {
				float: right;
				display: inline-block;
				margin-left: 5px;
				img {
					height: 30px;
					opacity: .7;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		&:last-child {
			td {
				&:first-child {
					border-radius: 0px 0px 0px 5px;
				}
				&:last-child {
					border-radius: 0px 0px 5px 0px;
				}
			}
		}
	}
}

table.edit-courses, table.edit-sessions {
	tbody tr {
		cursor: initial;
		&:nth-child(even):hover {
			background-color: #F2F2F2;
			td.online span {
				background-color: #F2F2F2;
			}
		}
		&:nth-child(odd):hover {
			background-color: #FFFFFF;
			td.online span {
				background-color: #FFFFFF;
			}
		}
	}
}

table.school-sessions {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	border-collapse: separate;
	thead tr {
		border-bottom: none;
		background-color: #e2e2e2;
	}
	tbody tr {
		th {
			&:first-child {
				border-radius: 5px 0px 0px 0px;
			}
			&:last-child {
				border-radius: 0px 5px 0px 0px;
			}
		}
		td.icon {
			width: 50px;
			a {
				float: right;
				display: inline-block;
				margin: 0px 5px 0px 0px;
				img {
					height: 20px;
					opacity: .7;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		&:last-child {
			td {
				&:first-child {
					border-radius: 0px 0px 0px 5px;
				}
				&:last-child {
					border-radius: 0px 0px 5px 0px;
				}
			}
		}
	}
}

table.edit-sessions {
	td, th {
		&:nth-child(4) {
			width: 15% !important;
		}
	}
}

.edit_session, .new_session {
	input[type=checkbox] {
		bottom: 1px;
		vertical-align: middle;
		position: relative;
		margin: 0px;
		padding: 0px;
		margin-right: 10px;
	}
	.days {
		label {
			width: auto;
		}
	}
	select {
		padding: 10px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.location-form {
		.input-group {
		width: 100%;
			input {
				border-radius: 5px !important;
			}
			button {
				display: none;
			}
		}
	}
}

@media (max-width: 768px) {
	.school {
		h1 {
			font-size: 2em;
		}
	}
	hr.header {
		display: none;
	}
	.results-count {
		text-align: center;
		margin: 10px 0px;
	}
	.col-sm-4 {
		-webkit-overflow-scrolling: touch;
	}
	.container .col-sm-3, .container .col-sm-9 {
		padding: 0px;
	}
	.expand {
		padding: 10px 15px;
		width: 100%;
	}
	.open {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	form.search_form input[type=submit] {
		margin: 15px 0px;
	}
	form.search_form .expand-container {
		width: 100%;
		margin: 0px;
		strong {
			display: none;
		}
		.days-container {
			max-height: none;
		}
		input[type=submit] {
			margin-top: 20px;
		}
	}
	ul.search-school {
		font-size: 13px;
		.info {
			&:hover {
				background-color: initial;
			}
		}
	}
	table.search-courses {
		width: 100%;
		tbody {
			max-height: initial;
		}
		tr {
			td, th {
				padding: 10px;
			}
			&:hover {
				background-color: none;
			}
		}
		tbody tr.inspect {
			padding: 8px 5px;
			table {
				width: calc(100% - 10px);
			}
		}
	}
	table.sessions, table.search-sessions {
		width: 100%;
		tr {
			padding: 0px 3px;
			td, th {
				padding: 10px 2px;
				&:nth-child(1) {
					width: 45%;
				}
				&:nth-child(2) {
					width: 15%;
				}
				&:nth-child(3) {
					width: 40%;
				}
			}
			td.online {
				background: transparent image-url('strikeout.png') 0 50% repeat-x;
				text-align: center;
			}
			&:nth-child(even) {
				background-color: #f2f2f2;
				td span{
					background-color: #f2f2f2;
					padding: 0px 10px;
				}
			}
			&:nth-child(odd) {
				td span{
					background-color: #ffffff;
					padding: 0px 10px;
				}
			}
		}
		tbody tr.inspect {
			padding: 0px;
			& > td {
				padding: 8px 5px;
			}
			table {
				width: 100%;
			}
		}
	}
	ul.search-school table.search-courses tbody tr {
		&:nth-child(even):hover {
			background-color: #f2f2f2;
		}
		&:nth-child(odd):hover {
			background-color: #ffffff;
		}
	}
	table.school-courses {
		tbody {
		 tr td {
		 	padding: 10px;
		 }
		}
	}
}