$background: #000060;
$header-color: #2a2a2a;
$border-color: #FFFFFF;
$menu-color: #FF5500;
$text-color: #FFFFFF;
$button-color: #FF5500;
$home-page-border: #FF5500;
$highlight: #FFFF00;
$content-background: #EFEFFF;
$dashboard-left-menu-background: transparent;
$dashboard-left-menu-item: white;
$dashboard-left-menu-item-highlight: #EEEEEE;
$content-background: rgba(0,0,0,.85);

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@mixin outline {
  text-shadow:
    -2px -2px 0px mix($header-color, #2a2a2a, 5%),  
    2px -2px 0px mix($header-color, #2a2a2a, 5%),
    -2px 2px 0px mix($header-color, #2a2a2a, 5%),
    2px 2px 0px mix($header-color, #2a2a2a, 5%);
}

@font-face {
  font-family: 'dkcoolcrayon';
  src:font_url('DKCoolCrayon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* universal */

body {
  //background-image: image-url('chalkboard.jpg');
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  //background: #D2D2FF;
  background: #1a1a1a;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.container {
  .col-sm-3 {
    padding: 0px 8px 0px 0px;
  }
  .col-sm-9 {
    padding: 0px 0px 0px 8px;
  }
}
h1, h2 {
  font-family: 'Oswald', sans-serif;
  margin: 10px 0px;
}
h1 {
  font-size: 2.5em;
  letter-spacing: 0px;
  text-align: center;
  color: $header-color;
}
h1.indent {
  margin-top: 5px;
  font-size: 4em;
  text-align: left;
  padding: 0px 0px;
  letter-spacing: 1px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-family: 'Oswald';
  color: #2a2a2a;
}
h2 {
  font-size: 1.2em;
  letter-spacing: 0px;
  text-align: center;
  font-weight: normal;
  color: #2a2a2a;
}
p {
  font-size: 1.1em;
  line-height: 1.1em;
  text-align: center;
}
button, input[type=submit], .orange, a.button, .button {
  display: block;
  color: #FFFFFF;
  background: $button-color;
  border: none;
  //border: 1px solid #AA0000;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  padding: 10px 25px;
  font-size: 1.25em;
  border-radius: 5px;
  text-shadow: 2px 2px rgba(0,0,0,.75);
  letter-spacing: 1px;
  margin: 0px auto;
  &:hover {
    border-color: #CC2200;
    background: mix($menu-color, #2a2a2a, 80%);
    color: white;
  }
}
.actions {
  text-align: center;
  margin-bottom: 15px;
  margin-top: -15px;
  display: block;
  a {
    height: 43px;
    font-size: 16px;
    color: white;
    background-color: #ff5500;
    //border: 1px solid #aaaaaa;
    text-shadow: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline-block;
    margin: 0px 5px 0px 0px;
    font-family: "Oswald";
    letter-spacing: 2px;
    text-shadow: 2px 2px rgba(0,0,0,.5);
    &:hover {
      background-color: #bf3f00;
      text-decoration: none;
    }
    &:active {
      background-color: #bf3f00;
    }
  }
}
a.button {
  display: table;
  margin: 15px auto;
  &:hover {
    text-decoration: none;
  }
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
  margin-left:0px
}
.input-group {
  input {
    //border-radius: 0px;
    outline: none;
  }
  button {
    //border: 2px solid mix(#FF5500, #2a2a2a, 50%);
    outline: none;
    box-shadow: none;
    margin-left: 0px;
    &:hover {
      //border: 2px solid mix(#FF5500, #2a2a2a, 50%);
    }
  }
}
form {
  text-align: left;
  display: block;
  margin: 0px auto;
  max-width: 750px;
  label {
    width: 100%;
    margin: 5px 0px;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    color: #2a2a2a;
  }
  input[type=text], input[type=email], input[type=password], textarea {
    text-align: left;
    display: block;
    width: 100%;
    margin: 0px auto 10px auto;
    padding: 10px;
    color: #2a2a2a;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
  }
  .btn-primary {
    font-size: 1.5em;
    padding: 10px 25px;
    display: block;
    margin: 10px auto;
  }
}
.center {
  text-align: center;
}
a {
  color: blue;
}
hr {
  border-color: #cccccc;
  border-width: 2px;
}
hr.header {
  width: 100%;
  border-color: #2a2a2a;
  border-width: 2px;
}
.top-banner {
  .container {
    position: relative;
    padding: 5px 0px;
    font-size: 2em;
    h1 {
      letter-spacing: -2px;
      text-align: left;
      font-family: 'Permanent Marker', sans-serif;
      color: #FFFF00;
      font-size: 3em;
      font-weight: normal;
      margin: -10px 0px 5px 0px;
      text-transform: lowercase;
      text-shadow: 3px 3px 5px #2a2a2a;
      a {
        color: #FFFF00;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .bottom-right {
      bottom: 0px;
      position: absolute;
      right: 0px;
      img {
        float: right;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 5px 0px 2px 2px;
        background-color: #FF5500;
        box-shadow: 0px -2px 5px rgba(0,0,0,.5);
        border-radius: 5px;
        &:hover, &:active {
          background-color: mix(#FF5500, #2a2a2a, 75%);
        }
      }
    }
    .top-right {
      top: 0px;
      position: absolute;
      right: 0px;
      padding-top: 2px;
      a:hover, a:focus {
        text-decoration: none;
      }
      .goog-te-gadget-simple {
        background-color: #FF5500 !important;
        border: none !important;
        border-radius: 5px !important;
        padding: 4px 2px !important;
        &:hover {
          background-color: mix(#FF5500, #2a2a2a, 75%) !important;
        }
      }
      .goog-te-gadget-simple .goog-te-menu-value span {
        &:nth-child(1) {
          color: white !important;
          font-family: "Oswald" !important;
          text-shadow: 1px 1px 1px #2a2a2a !important;
          padding: 1px 3px 0px 1px;
          display: inline-block;
          letter-spacing: 1px;
        }
        &:nth-child(3) {
          display: none !important;
        }
        &:nth-child(5) {
          vertical-align: top;
          margin-top: 0px;
          color: white !important;
          text-shadow: 1px 1px 1px #2a2a2a !important;
          display: inline-block;
          font-size: 1.1em;
        }
      }
      .goog-te-gadget img {
        vertical-align: top !important;
        background-image: image-url("logo-google.png") !important;
        background-size: 100% 100% !important;
        background-position: 0px 0px !important;
        -webkit-filter: drop-shadow(1px 1px rgba(0,0,0,.5));
        filter: drop-shadow(1px 1px rgba(0,0,0,.5));
      }
      .goog-te-gadget-simple .goog-te-menu-value {
        color: transparent;
        img {
          display: none;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
.navbar {
  min-height: 30px;
}
.navbar-default {
  background: none;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  margin-bottom: 0px;
  font-size: 1.1em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  .navbar-brand {
    font-size: 2.5em;
    padding: 10px 0px;
    color: $highlight;
    font-weight: bold;
    height: auto;
    letter-spacing: -3px;
    font-family: 'Oswald', sans-serif;
    &:hover {
      color: $header-color;
    }
    a:hover {
      color: $header-color;
    }
  }
  ul.navbar-right {
    li {
      border-right: none !important;
    }
    form {
      margin: 0px;
      .input-group {
        width: 175px;
        input {
          font-size: 14px;
          padding: 0px 10px;
          font-weight: 400;
          line-height: 28px;
          height: 38px;
          //border-radius: 0px;
          border: 1px solid #CCC;
        }
        button {
          height: 38px;
          text-shadow: none;
          //border-radius: 0px;
          border: 1px solid transparent;
        }
      }
    }
  }
  .navbar-collapse {
    padding: 0px;
  }
  .navbar-nav {
    margin-left: -15px;
  }
  ul.navbar-nav {
    li {
      border-right: 3px solid #FF5500;
      &.active a {
        color: #2a2a2a;
        background: #FFFCFA;
        text-shadow: none;
        &:hover {
          color: #2a2a2a;
          background-color: #FFFCFA;
        }
      }
      a {
        padding: 9px 20px;
        color: white;
        text-shadow: 2px 2px 1px #2a2a2a;
        span {
          text-shadow: 2px 2px 1px #2a2a2a;
        }
        &:active, &:hover {
          color: white;
          background-color: mix(#FF5500, #2a2a2a, 75%);
        }
      }
      &:first-child {
        a {
          border-top-left-radius: 5px;
        }
      }
    }
  }
  .navbar-nav>li.active>a {
    color: #eca806;
    background: none;
    &:hover {
      background: none;
      color: #eca806;
    }
  }
  ul.dropdown-menu {
    min-width: 0px;
    background-color: #FF5500;
    padding: 3px 0px 0px 0px;
    border: none;
    border-radius: 0px;
    text-align: center;
    li {
      border-right: none;
      a {
        border-radius: 0px !important;
        padding: 10px 14px 10px 15px;
      }
      &.divider {
        margin: 5px 0px 0px 0px;
        background-color: #AA0000;
      }
    }
  }
}

.home-form {
  background-image: image-url('classroom-fade.jpg');
  background-size: 100% 225%;
  background-position: center;
  text-transform: uppercase;
  border-bottom: 3px solid #FF5500;
  //box-shadow: 0px 3px 3px rgba(0,0,0,.5), inset 0px 2px 2px rgba(0,0,0,.75), inset 0px -2px 2px rgba(0,0,0,.75);
  //box-shadow: 0px 5px 10px 0px rgba(0,0,0,.4);
  z-index: 5;
  position: relative;
  padding: 50px 0px;
  h1 {
    font-size: 5em;
    color: white;
    margin-bottom: 15px;
    letter-spacing: 0px;
    margin-top: 0px;
    //font-family: 'Permanent Marker', sans-serif;
    font-family: Oswald;
    text-transform: none;
    text-shadow: 3px 3px 3px rgba(0,0,0,.5);
  }
  .container-fluid {
    background-color: rgba(255,255,255,0);
  }
  form {
    display: block;
    width: 750px;
    .group {
      position: relative;
      width: auto;
      display: block;
      margin: 0px auto;
      padding: 30px 0px;
      //border: 3px solid #FF5500;
      border-radius: 5px;
      //background-image: image-url('chalkboard.jpg');
      //box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,.50), 3px 3px 3px rgba(0,0,0,.35);
      //background: transparent;
      //box-shadow: 0px 0px 100px #2a2a2a;
    }
  }
  .mobile {
    display: none;
  }
  .input-group {
    width: 85%;
    margin: 10px auto;
    input[type=text] {
      position: relative;
      margin: 1px 1px 1px 1px;
      height: 60px;
      font-size: 20px;
      line-height: 1.50em;
      border: none;
      background: white;
      font-family: 'Oswald', sans-serif;
      //border-top-left-radius: 10px;
      //border-bottom-left-radius: 10px;
      color: #2a2a2a;
      //border-radius: 0px;
      //box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,.35);
      padding: 0px 25px;
      z-index: 0;
      box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    }
    button {
      position: relative;
      font-size: 20px;
      color: #FFF;
      height: 60px;
      background-color: $button-color;
      border: none;
      font-weight: bold;
      font-family: 'Oswald', sans-serif;
      //border-radius: 0px;
      text-shadow: 2px 2px #2a2a2a;
      //box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,.35);
      box-shadow: 3px 3px 3px rgba(0,0,0,.5);
      z-index: 1;
      padding: 10px 15px;
      &:hover {
        background-color: mix($button-color, #2a2a2a, 75%);
      }
    }
  }
}
.menu {
  .container {
    background: $menu-color;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 3px solid #FF5500;
  }
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999999;
  //box-shadow: inset 0px 2px 10px 0px #AA0000, inset 0px -2px 10px 0px rgba(200,0,0,.5);
  //box-shadow: 0px -2px 1px rgba(0,0,0,.75);
}
.home-perks {
  //box-shadow: inset 0px 60px 100px -20px rgba(0,0,0,.5);
}
.home-contact {
  //box-shadow: inset 0px -60px 100px -20px rgba(0,0,0,.5);
}
/*
.home-perks, .home-contact {
  .container {
    padding: 0px;
  }
  .perk {
    padding: 0px;
    &:nth-child(1) {
      padding-right: 7px;
    }
    &:nth-child(2) {
      padding: 0px 7px;
    }
    &:nth-child(3) {
      padding-left: 7px;
    }
  }
  padding: 25px 0px 0px 0px;
  h1 {
    font-size: 2em;
    color: white;
    text-shadow: none;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-align: left;
    background: #FF5500;
    padding: 10px 10px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    text-shadow: 2px 2px rgba(0,0,0,.75);
  }
  h2 {
    font-size: 1.35em;
    color: #101010;
    text-shadow: none;
    font-weight: normal;
    letter-spacing: -1px;
    text-align: left;
    border: 3px solid #FF5500;
    border-top: none;
    padding: 10px;
    margin: 0px;
    border-radius: 0px 0px 5px 5px;
    height: 105px;
    background-color: #FFFCFA;
    font-family: Roboto;
  }
  hr {
    border-color: #2a2a2a;
    margin: 5px 0px 5px 0px;
  }
  label {
    color: white;
    text-shadow: 2px 2px #000;
  }
}
*/

.home-who, .home-contact {
  padding: 25px 15px;
  & > h1 {
    margin: 0px auto 25px auto;
    display: block;
    line-height: normal;
    background: image-url("header-background.jpg");
    background-position: center;
    background-repeat: repeat-x;
    text-align: center;
    font-size: 3em;
    span {
      background: #FFFCFA;
      padding: 0px 15px;
    }
  }
  .col-sm-4 {
    text-align: center;
    h1 {
      font-size: 1.75em;
      margin: 15px auto 10px auto;
      letter-spacing: 1px;
    }
    img {
      width: 100%;
      border-radius: 5px;
      display: block;
      margin: 0px auto;
    }
    p {
      line-height: 1.42857143;
    }
  }
}

.featured-school {
  border: 3px solid #FF5500;
  border-radius: 5px;
  background-color: white;
  display: block;
  margin: 0px auto;
  .header {
    color: white;
    font-weight: bold;
    font-family: 'Oswald';
    background-color: #FF5500;
    padding: 5px 10px;
    text-shadow: 1px 1px #2a2a2a;
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  .info {
    background: url("http://www.wilkes.edu/about-wilkes/campus/_images/JW_STATUE.png");
    .lighten {
      background-color: rgba(255,255,255,.8);
      padding: 10px;
    }
    strong {
      font-size: 1.25em;
      font-family: 'Oswald';
      color: #2a2a2a;
      letter-spacing: 1px;
    }
    hr {
      margin: 5px 0px;
      border: 1px solid #AAAAAA;
    }
    ul {
      padding-left: 0px;
      list-style-type: none;
      margin: 5px 0px;
      li {
        display: inline-block;
        &:nth-child(2) {
          padding: 0px 15px;
        }
      }
    }
  }
  img {
    float: left;
    width: 20%;
    margin: 5px 20px 35px 5px;
  }
}
.contact {
  form {
    max-width: none;
    textarea {
      height: 210px;
    }
  }
}

.clearfix {
  clear: both;
}

.content, .home {
  z-index: -2px;
  position: relative;
  & > .container {
    -vendor-background-clip: border-box;
    background-color: #FFFCFA;
    position: relative;
    padding: 0px 30px 10px 30px;
    padding-bottom: 35px;
    color: #2a2a2a;
    border: 3px solid #FF5500;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    & > h1 {
      margin: 10px auto 25px auto;
      display: block;
      background: image-url("header-background.jpg");
      background-position: center;
      background-repeat: repeat-x;
      text-align: center;
      font-size: 3.5em;
      line-height: 1.25em;
      span {
        background: #FFFCFA;
        padding: 0px 15px;
      }
    }
    & > h2 {
      text-align: left;
      margin-bottom: 15px;
      font-family: 'Roboto';
    }
  }
}

.home {
  & > .container {
    padding: 0px;
  }
}

footer {
  //background-color: #FF5500;
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: center;
  padding: 10px 0px;
  //box-shadow: inset 0px 2px 2px rgba(0,0,0,.75);
  strong {
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
  }
  a, a:active, a:hover {
    color: white;
  }
  table {
    width: 100%;
    tr {
      td {
        width: 33%;
        &:first-child {
          text-align: left;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:nth-child(3) {
          text-align: right;
        }
        img {
          display: inline-block;
          height: 36px;
          margin: -5px 5px 0px 5px;
          border-radius: 5px;
          &:hover {
            background: rgba(255,255,255,.25);
          }
        }
      }
    }
  }
}

.breadcrumbs {
  padding: 10px 0px 5px 0px;
  font-weight: bold;
  a {
    font-weight: normal;
    &:last-child {
      color: #2a2a2a;
      font-weight: bold;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.error-explanation {
  color: red;
  ul {
    padding: 0px;
    list-style-position: inside;
    list-style-type: square;
  }
}

.field_with_errors {
  label {
    color: red;
  }
  input, textarea{
    outline: 2px solid red;
  }
}

.box-header {
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 0px solid #000033;
  padding: 6px 10px;
  font-weight: bold;
  font-size: 1.25em;
  font-family: 'Oswald';
  letter-spacing: 2px;
  color: white;
  //background-color: #202020;
  //background: linear-gradient(#404040, #101010);
  background: #202020;
}

.box-container {
  border: 1px solid #aaaaaa;
  border-top: none;
  padding: 10px;
}

.alert {
  font-weight: normal;
  color: #2a2a2a;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.15em;
  text-align: center;
}

.error {
  background: linear-gradient(#E00000, #700000);
  //border-color: #997766;
  color: white;
}

.warning {
  background: linear-gradient(#aa8d5b, #6a4d1b);
  text-shadow: 1px 1px #2a2a2a;
}

.success {
  background: linear-gradient(#0000E0, #000050);
}

.alert-error {
  background-color: white;
  border-color: #ddaaaa;
  background-color: #FFf5f5;
}

.alert-warning {
  border-color: #aaccaa;
  background-color: #EEFFEE;
}

.alert-info {
  border-color: #aaaaaa;
  background-color: white;
}

.alert-success {
  border-color: #aaaacc;
  background-color: #f7f7ff;
  color: #2a2a2a;
}
ul.account, ul.schools, ul.courses, ul.users, ul.searches {
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
  padding: 0px;
  background-color: white;
  li {
    list-style-type: none;
    padding: 10px;
    &:nth-child(even) {
      background-color: transparent;
    }
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }
}

.location-container, .state-container, .search-container {
  width: 50%;
  display: block;
  margin: 15px auto 25px auto;
  h2 {
    margin: 10px;
  }
  .input-group {
    input, button {
      font-size: 16px;
      height: 40px;
      padding: 0px 10px;
    }
    button {
      font-size: 16px;
    }
  }
  select {
    display: block;
    margin: 0px auto;
    padding-right: 0px;
    text-align: left;
    padding: 5px;
    color: #2a2a2a;
    //border-radius: 5px;
  }
}
.search {
  h2 {
    margin: 5px;
  }
  .expand {
    width: 100%;
    text-align: center;
    color: blue;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .expand-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    display: none;
  }
}

.pagination {
  width: auto;
  margin: 0px 0px 0px 0px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: white;
  form {
    text-align: center;
    input {
      width: 36px;
      text-align: center;
      display: inline-block;
      margin: 0px;
      padding: 2px 0px;
    }
  }
  ul {
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li {
      display: inline-block;
      margin: 7px 0px 7px 0px;;
      &:nth-child(3) {
        padding: 0px 10px;
      }
      a {
        font-weight: bold;
        background-color: transparent;
        border: 1px solid #AAAAAA;
        padding: 7px 10px 5px 10px;
        &:hover {
          background-color: #CCCCCC;
          color: #2a2a2a;
          text-decoration: none;
        }
      }
      & > i {
        padding: 4px 10px 4px 10px;
      }
    }
  }
  ul li a {
    border: none;
  }
}

.results-pagination {
  padding: 0px;
  margin-bottom: 10px;
  margin: 0px auto 10px auto;
  .col-sm-4, .col-sm-8 {
    padding: 0px;
  }
  .col-sm-8 {
    padding: 0px 0px 0px 15px;
  }
  .col-sm-4 {
    padding: 0px 15px 0px 0px;
  }
}

.account {
  .results-pagination {
    max-width: 750px;
  }
}

.results-count {
  text-align: left;
  border-radius: 5px;
  border: 1px solid #AAAAAA;
  padding: 8px 0px 8px 0px;
  text-align: center;
  background-color: white;
}

.pagination-alpha {
  label {
    font-weight: bold;
    text-align: center;
  }
  select {
    -webkit-padding: 5px 30px;
    padding: 5px 30px;
    font-size: 16px;
    display: block;
    margin: 0px auto;
    width: 90px;
    text-indent: 32%;
  }
}

.paginate-label {
  text-align: center; 
  margin: 0px auto -15px auto; 
  display: block;
  text-weight: bold;
}

.container > .sort {
  margin: 0px 0px 5px 15px;
  strong {
    font-size: 1.25em;
  }
}

#map-canvas {
  margin: 15px 0px;
  border: 1px solid #2a2a2a;
  width: calc(100% - 1px);
}

.mobile-menu {
  .header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
    font-size: 16px;
    font-weight: bold;
    color: #FFFF00;
    line-height: 52px;
    text-align: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    height: 52px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #1a1a1a;
    border-bottom: 3px solid #FF5500;
    .title {
      img {
        height: 52px;
        margin: 0px auto;
        display: block;
        padding: 10px 0px;
      }
    }
    a.title {
      font-family: 'Permanent Marker';
      text-decoration: none;
      color: #FFFF00;
      white-space: nowrap;
      font-size: 2.1em;
      text-transform: uppercase;
      letter-spacing: -6px;
      font-weight: bold;
      text-shadow: 2px 2px #2a2a2a, -1px 0px 0px rgba(100, 50, 0, 1), 0px -1px 0px rgba(100, 50, 0, 1);
      line-height: 1.5em;
      //text-shadow: 0px 1px rgba(0,0,0,.5), 1px 0px rgba(0,0,0,.5), 0px -1px rgba(0,0,0,.5), -1px 0px rgba(0,0,0,.5);
    }
    a.toggle {
      display: block;
      width: 40px;
      height: 52px;
      position: absolute;
      left: 5px;
      padding-top: 18px;
    }
  }
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
    margin: 0px auto;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }
}
.mm-menu {
  display: none;
  background: none;
  background: #1a1a1a;
  color: #2a2a2a;
  font-weight: bold;
  .mm-list {
    padding: 0px;
  }
  button {
    border: 1px solid transparent;
  }
  li {
    text-align: left;
    font-size: 1.25em;
    border-bottom: 2px solid #333333;
    padding: 0px;
    a {
      display: inline-block;
      color: #FFFFFF;
      width: 100%;
      margin-top: 8px;
    }
    a:hover, a:active {
      color: white;
      background-color: #585858;
    }
    &:hover {
      background-color: #585858;
      a {
        color: white;
      }
    }
    &:after {
      content: none;
    }
  }
  a.mm-subopen:after {
    margin-bottom: -3px;
  }
  a.mm-subclose:before {
    margin-bottom: -12px;
  }
  form {
    width: 100%;
  }
  .input-group {
    padding: 4px 3px 1px 3px;
    margin: 6px 15px;
    input {
      border-radius: 0px;
      font-size: .75em;
      box-shadow: none;
      border: none;
      border-right: 1px solid #EEEEEE;
    }
    button {
      border-radius: 0px;
      text-shadow: none;
    }
  }
}
.mm-menu .mm-list > li:after {
  border-color: transparent;
}
.mobile-menu-space {
  display: none;
  height: 44px;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-x: hidden;
}

.arrow-box {
  position: absolute;
  display: none;
  background: #ffffcc;
  border: 2px solid #ddddaa;
  z-index: 99999999;
  padding: 5px 10px;
  font-weight: bold;
  width: calc(100% - 2px);
  left: 0px;
  top: 47px;
  border-radius: 5px;
}
.arrow-box:after, .arrow-box:before {
  bottom: 100%;
  right: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box:after {
  border-bottom-color: #ffffcc;
  border-width: 10px;
  margin-right: -10px;
}
.arrow-box:before {
  border-bottom-color: #ddddaa;
  border-width: 13px;
  margin-right: -13px;
}

.shortcuts {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background-color: white;
  padding: 5px 0px 4px 0px;
  z-index: 100000;
  border-top: 1px solid #cccccc;
  .half {
    width: calc(50% - 5px);
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #0000EE;
    .glyphicon {
      display: block;
      font-size: 1.75em;
    }
    &:first-child {
      border-right: 1px solid #cccccc;
    }
  }
}

.shortcuts-alert {
  position: fixed;
  background: #ffffcc;
  border: 2px solid #ddddaa;
  z-index: 99999999;
  padding: 5px 10px;
  font-weight: bold;
  width: calc(100% - 30px);
  left: 15px;
  bottom: 60px;
  border-radius: 5px;
  text-align: center;
  display: none;
}

.shortcuts-alert:after, .shortcuts-alert:before {
  top: 100%;
  right: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.shortcuts-alert:after {
  border-top-color: #ffffcc;
  border-width: 7px;
  margin-right: -10px;
}
.shortcuts-alert:before {
  border-top-color: #ddddaa;
  border-width: 10px;
  margin-right: -13px;
}
.anchor {
  position: absolute;
  margin-top: -60px;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .content > .container {
    padding: 0px 10px 35px 10px;
  }
  .top-banner .container {
    h1 {
      font-size: 2.3em;
    }
  }
  .menu {
    font-size: .85em;
  }
  .navbar-default ul.navbar-nav li a {
    padding: 9px 10px;
  }
  .home-perks, .home-contact {
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 1.3em;
    }
    .col-sm-4 {
      padding: 0px 5px;
    }
  }
}

/* Mobile */

@media (max-width: 767px) {
  .actions {
    margin: 30px 0px 15px 0px;
  }
  p {
    text-align: center;
  }
  .container-fluid {
    overflow-x: hidden;
    .container {
      margin: 0px 0px;
      padding: 0px 15px;
    }
  }
  h1 {
    font-size: 2em;
  }
  .content {
    padding: 0px;
    & > .container {
      padding-bottom: 50px;
      & > h1 {
        background: none;
        font-size: 2.5em;
        margin: 5px 0px 20px 0px;
        span {
          padding: 0px;
          background: transparent;
        }
      }
    }
  }
  body {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background: none;
    background-color: #1a1a1a;
  }
  .top-banner {
    display: none;
  }
  form {
    width: 80%;
    input[type=text], input[type=search], input[type=email] {
      -webkit-appearance: none;
      box-shadow: none;
    }
    .input-group {
      input {
        border-right: none;
      }
      button {
        border-left-width: 1px;
      }
    }
    .col-sm-6 {
      padding: 0px;
    }
  }
  .home-form-mobile {
    background-image: image-url('classroom.jpg');
    background-size: auto 100%;
    background-position: center;
    .container-fluid {
      background: rgba(0,0,0,.5);
      position: relative;
    }
    form {
      padding: 25px 0px 25px 0px;
      overflow-y: hidden;
      top: initial;
      width: 100%;
      h1 {
        font-size: 3.5em;
        color: white;
        font-family: 'Oswald';
        line-height: 1em;
        margin: 0px 0px 15px 0px;
        margin-left: -3px;
        text-shadow: 2px 2px rgba(0,0,0,.5);
      }
      input {
        width: 80%;
        font-family: 'Oswald', sans-serif;
        padding: 0px 15px;
        text-align: center;
        height: 50px;
        border-radius: 5px;
        font-size: 1.5em;
        border: 1px solid #555555;
        margin-bottom: 10px;
        -webkit-appearance: none;
      }
      button {
        height: 50px;
        margin: 0px auto;
        width: 60%;
        display: block;
        color: #FFF;
        background: $button-color;
        border: none;
        border: 1px solid #AA0000;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        font-size: 1.5em;
        border-radius: 5px;
        text-shadow: 1px 1px 0px rgba(0,0,0,1);
        padding: 0px;
        &:hover {
          border-color: #CC2200;
          background: mix($menu-color, #1a1a1a, 80%);
          color: white;
        }
      }
    }
  }
  .home-menu {
    ul {
      list-style-type: none;
      padding-left: 0px;
      border-top: 2px solid #AA0000;
      margin-bottom: 0px;
      li {
        text-align: center;
        border-bottom: 2px solid #AA0000;
        a {
          display: block;
          color: #FFFFFF;
          background-color: #FF5500;
          padding: 10px 0px;
          text-shadow: 1px 1px 0px rgba(0,0,0,1);
          font-family: 'Oswald', sans-serif;
          font-size: 1.5em;
          font-weight: bold;
          letter-spacing: 1px;
          &:hover {
            background-color: #CF2500;
            text-decoration: none;
          }
          &:active {
            background-color: #CF2500;
            text-decoration: none;
          }
        }
      }
    }
  }
  .menu > .container {
    position: fixed;
    z-index: 1000000;
  }
  .mobile-menu-space {
    display: block;
    height: 52px;
  }
  .results-pagination {
    .col-sm-4, .col-sm-8 {
      padding: 0px;
    }
    .pagination {
      margin: 5px 0px 10px 0px;
    }
    .results-count {
      border: none;
      margin: 0px;
      background-color: transparent;
      padding: 4px 0px;
      display: none;
    }
  }
  .pagination {
    margin: 15px 0px;
    font-size: 1.2em;
    background: transparent;
    ul {
      border: none;
      li {
        margin: 0px;
        &:first-child, &:last-child {
          display: none;
        }
        & > i, & > a {
          padding: 4px 15px;
        }
      }
    }
    form {
      width: 100%;
    }
  }
  ul.schools {
    border: none;
    border-radius: 0px;
    border-top: 1px solid #cccccc;
    li {
      border-bottom: 1px solid #cccccc;
    }
  }
  .home-perks, .home-contact {
    font-size: .8em;
  }
  .home-contact {
    h1, h2 {
      padding: 10px;
    }
    form {
      width: 90%;
    }
  }
  .mobile-top-search {
    display: none;
  }
  .contact {
    width: 100%;
    font-size: .90em;
    padding: 10px 0px;
    h1, h2 {
      padding: 0px 10px;
    }
  }
  .location-container, .search-container {
    width: 90%;
    form {
      width: 100%;
    }
    input[type=submit] {
      border-radius: 5px;
      margin: 10px 0px;
      padding: 5px 10px;
    }
  }
  .state-container {
    width: 100%;
    select {
      width: 75%;
      text-align: center;
    }
    input[type=submit] {
      margin: 10px 0px;
      padding: 5px 10px;
    }
  }
  .expand {
    margin-top: 10px;
    padding: 15px 0px;
  }

  /* List View */
  ul.account, ul.schools, ul.courses, ul.users, ul.searches {
    margin: 0px -15px;
    li {
      padding: 10px 15px;
    }
  }

  .paginate-label {
    margin: 15px auto -5px auto;
  }

  footer {
    line-height: initial;
    height: initial;
    padding: 15px 0px;
    img {
      width: 32px;
      height: 32px;
      margin: 0px 10px 10px 10px;
      &:hover {
        background-color: rgba(255,255,255,.5);
      }
    }
  }
}