<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <script>
	    jQuery(function () 
			 {
				 $("#search").autocomplete({
					source: function (request, response) {
					 jQuery.getJSON(
						"http://gd.geobytes.com/AutoCompleteCity?callback=?&q="+request.term,
						function (data) {
						 response(data);
						}
					 );
					},
					minLength: 3,
				 });
				});
			</script>
	</head>
	<body>
		  <input type="text" id="search">
	</body>
</html>